@use '../../global';

.collectionList{

    .collectionList_header{
        height: 2rem;
        background-color: global.$secondaryColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        position: sticky;
        top: 0;
        z-index: 3;
        .collectionList_searchInput{
            height: 100%;
            display: flex;
            align-items: center;
            .collectionList_searchIcon{
                fill: global.$accentTextColor;
                height: 50%;
            }
            #collectionList_searchInput{
                background-color: transparent;
                border: 0;
                color: global.$accentTextColor;
                font-size: 1.2rem;
                padding: .5rem;
                width: 75%;
                outline: none;
            }
        }
        .collectionList_headerRightContent{
            color: global.$accentTextColor;
            font-size: .75rem;
            font-weight: bold;
            width: 50%;
            text-align: right;
        }
    }
    .collectionListItem{
        background-color: black;
        .collectionItem_content{
            display: flex;
            justify-content: space-between;
            align-items: center;            
            color: global.$accentTextColor;
            .collectionItem_name{
                font-weight: bold;
                padding-left: .5rem;
                overflow: hidden;
            }
            .collectionItem_rightContent{
                text-align: center;
                display: flex;
                padding-right: 1rem;
            }
        }
    }
}
.collectionList_popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    animation-name: fadeIn;
    animation-duration: .5s;
    .popupMenu{
        background-color: global.$secondaryColor;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        z-index: 3;
        .popup_closeIcon{
            width: 1rem;
            margin-right: .5rem;
            fill: white;
        }
    }

}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.collectionList_rows{
        max-height: 20rem;
        overflow: scroll;
}
