@use '../../global';

.recipe_headerImage{
    width: 100%;
    position: relative;
    font-size: 2rem;
    img{
        height: 30rem;
        width: 100%;
        opacity: 0.6;
        object-fit: cover;
        box-shadow: 0 4px 2px -200px gray;
    }
    .recipe_headerImageDetails{
        position: absolute;
        bottom: 0;
        color: white;
        padding: .5rem;
        width: 95%;
        .recipe_headerFlexLine{
            display: flex;
            justify-content: center;
            gap: .5rem;
            .recipe_headerFlexItem{
                span{
                    font-size: 1.2rem;
                    margin-left: .25rem;
                }
            }
        }
        .recipe_headerFlexLine.recpie_headerFlexLineButtonRow{
            justify-content: space-between;
            margin: auto;
            width: 95%;
            font-size: 1.5rem;
            color: gray;
        }
    }
}
.addRecipe_icon{
    width: '3rem';
    position: 'absolute';
     bottom:5; 
     left: 0;
    fill: global.$lightBlue;
}
.addRecipe_icon-disabled.addRecipe_icon{
    fill: global.$disabledColor;
}