.popupMenu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: 1s;
    transition-delay: .2s;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    border: 1px solid black;
    
    .popup_closeIcon{
        width: 1.5rem;
        position: absolute;
        top: 0;
    }
}