.searchPage_input{
    width: 100%;
    display: flex;
    transition: 0.5s;
    width: 100%;
    position:relative; 
    input{
        width: 100%;
        height: 3rem;
        border: 0;
        padding-left: 1rem;
        color: gray;
        font-size: 1.5rem;
    }
    
}
.searchPage_ingredients{
    margin-top: .5rem;
    padding: 1rem;
    .searchPage_ingredientsList{
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        margin: 1rem 0;
        .searchPage_ingredientsItem{
            color: white;
            border-radius: 20px;
            padding: .5rem;
        }
    }
}