@use '../../global';

.recipe_addToLists{
    display: flex;
    justify-content: space-evenly;
    .recipe_addToListsItem{
        margin: 1rem 1.5rem;
        display: flex;
        gap: .5rem;
        .recipe_addToListsItemIcon{
            width: 1rem;
            fill: global.$lightBlue;
        }
    }
}

.recipe_ingredientsHeader{
    margin: .75rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    #recipe_ingredientsBoldText{
        font-weight: bold;
        font-size: 1.5rem;
        margin: auto 0;
    }
    .recipe_ingredientsRowIcons{
        display: flex;
        gap: .5rem;
        align-items: flex-end;
        .recipe_ingredientsRowDivider{
            height: 100%;
            width: .05rem;
            background-color: black;
        }
        .recipe_shoppingCartIcon{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.recipe_ingredientsAddAll{
    display: flex;
    margin: .75rem;
    gap: .75rem;
    .recipe_addAllIcon{
        width: 1.5rem;
        fill: global.$lightBlue;
    }
    .recipe_addAllIcon-selected{
        fill: global.$disabledColor;
    }
    p{
        margin: auto 0;
    }
}
.recipe_instructionsHeader{
    margin: 1rem 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
