@use '../../global';


.listsPage_navTabs{
    display: flex;
    justify-content: space-between;
    margin: 2rem .5rem;
    button{
        @include global.buttonStyle;
        width: 30%
        
    }
    .listButton-selected{
        @include global.contrastButtonStyle;
        border: 1px solid global.$orange;
    }
    
}

@media screen and (max-width: 430px) {
    button{
        font-size: .75rem;
    }
}
