@use '../../global';


.listsPage_navTabs{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0.5rem;
    button{
        @include global.buttonStyle;
        width: 32%
        
    }
    .listButton-selected{
        @include global.contrastButtonStyle;
        border: 1px solid global.$orange;
    }
    
}
.listsPage{
    margin-bottom: 8vh;
}
@media screen and (max-width: 430px) {
    button{
        font-size: .75rem;
    }
}
